

label{
    color: rgb(10, 9, 9);
}

.form-container{
    position: relative;
    display: grid;
    display: flex;
    margin: 0rem 0rem;
    padding: 0rem 4rem;
    justify-content: space-around;
}
.form-container .l-form{
    width: 100%;
    height: 40vh;
    margin-top: 3rem;
    margin-left: 3rem;
    /* margin-right: 3rem; */
    
}
h2{
    font-size: 7vw;
    margin-top: 3rem;
    margin-left: 2rem;
}
/* .form-container .l-form h2{
    font-size: 3rem;
    margin-top: 3rem;
} */
       
    
  form{
            display: flex;
            flex-direction: column;
               justify-content: center;
                text-align: center;
                margin: 8rem 4rem;
                margin-bottom: 0rem;
                padding: 1rem ;
                max-width: 100%;
                border-color: rgba(255, 255, 255, 0.1);
                border: 2px solid black;
                background-color: grey;
                border-radius: 10px;
                /* position: absolute; */
        }
 
 
form input,form textarea{
    margin-bottom: 1.5rem;
    padding: 0.5rem 6rem;
    font-size: 1rem;
    max-width: 100%;
    background-color: white;
    border-color: rgba(255, 255, 255, 0.1);
    color: #070606;
    }

   

    .mapouter{position:relative;text-align:right;height:80vh;width:100%; padding: 2rem; }
.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}
  

@media screen and (max-width: 640px) {

    .form-container{
        position: relative;
        /* display: grid; */
        flex-wrap: wrap;
        /* display: flex; */
    }
    .form-container .l-form{
        width: 100%;
        /* height: 20%; */
    margin-right: 30%;
        
    }

}
