.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}
.project-container{

    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:40px; 
    padding-bottom: 1rem;
}
.project-card{
    background:#F4C7AB;
    padding: 1.2rem 1rem;
    border-radius: 20px;

}
.project-card img{
    width: 100%;
    border-radius: 10px;
    height: 20vh;
}
/* .project-card:hover{
    background: rgb(242, 247, 245);
    color: white;
} */

.project-title{
    color: rgb(9, 9, 9);
    padding: 1rem 0 ;
}

.project-details p {
    padding-bottom :1rem ;
    font-size: 1.1rem;
    text-align: justify;
}
.pro-btns{
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    padding: 0%;
}
.pro-btns .btn{
    padding:0.5rem 1rem
}
@media screen and (max-width: 740px) {
    .project-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns:1fr ;

    }}